.content-body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color:#ffffff;
  background: #F5F5F5;
}
:root{
  --primary-text-color: #212121;
  --primary-white-color: white;
  --accent-color: #2196f3;
}
.container {  
    width: 1600px;    
    margin: 0px auto;
    padding: 0px 15px;
    outline: 2px solid red;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
ul,ol {
  margin:0px;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
.navigation{
  display: flex;

}
header .container{
  display: flex;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none; 
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25;
  
}
.header-logo-sp{
color: #212121;
}
a.header-logo {
  color: var(--accent-color);
}
.header-logo {
  color: black;

}
.nav-list{
  list-style: none;
  display: flex;
}
.nav-list-item:not(:last-child){
  margin-right: 50px;
}
.nav-list .site-nav{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-list{
  list-style: none;
  display: flex;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none; 
}
.site-nav:hover,
.site-nav:focus, 
.site-nav-act{
  color: var(--accent-color)
}
a.link-page-tel,
a.link-page-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
a.link-page-mail:hover {
  color: var(--accent-color)
}
.link-page-tel:hover {
  color: var(--accent-color)
}


.main-section {
  background: #2f303a;  
}
.main-title { 
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;  
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color)  
}
.hero-title{
  padding: 200px 452px;
}
.main-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  display: flex;  
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;  
  border: none;
  font-family: inherit;
  margin: 0 auto;
  border-radius: 6px;  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;  
}
.features-title-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
 
}
.features-text {  
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.work-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.content-about-team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700 ;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.text-team { 
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.link-bottom a {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color:#f5f4fa;
}
.footer-section {
  background: #2f303a;
  
}
.footer-section a{
  cursor: default;
}
.header-logo-footer {
  color: white;
}
/* <!--portfolio-- */

.button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  border: none;
  font-family: inherit;
}


.button-filtr:hover,
.button-filtr:focus
 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}
.title-block {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}

.text-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  letter-spacing: 0.03em;
}

